<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>jQuery商品展示下单选购代码 - php中文网</title>

    <link rel="stylesheet" href="/asserts/css/shouye.css">
    <link href="/asserts/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/asserts/css/slider.css" rel="stylesheet" type="text/css" media="all"/>

    <link href="/asserts/css/jquery.searchableSelect.css" rel="stylesheet" type="text/css">
    <script src="/asserts/js/jquery-1.11.1.min.js"></script>
    <script src="/asserts/js/jquery.searchableSelect.js"></script>

    <link rel="stylesheet" href="/asserts/css/yemiandibustyle.css">

    <link rel="stylesheet" href="/asserts/css/tab.css">

    <link rel="stylesheet" href="/asserts/css/autocomplete.css">
    <script type="text/javascript" src="/asserts/js/move-top.js"></script>
    <script type="text/javascript" src="/asserts/js/easing.js"></script>
    <script type="text/javascript" src="/asserts/js/jquery.nivo.slider.js"></script>
    <link rel="stylesheet" href="/asserts/css/zzsc.css" type="text/css"/>
    <script type="text/javascript" src="/asserts/js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="/asserts/js/jquery.easing.js"></script>
    <script type="text/javascript" src="/asserts/js/zzsc.js"></script>

    <script src="/asserts/js/jquery-1.8.3.min.js"></script>
    <script   src="/asserts/js/modernizr-custom-v2.7.1.min.js"></script>
    <script>
        $(document).ready(function(){
            var $miaobian=$('.Xcontent08>div');
            var $huantu=$('.Xcontent06>img');
            var $miaobian1=$('.Xcontent26>div');
            $miaobian.mousemove(function(){miaobian(this);});
            $miaobian1.click(function(){miaobian1(this);});
            function miaobian(thisMb){
                for(var i=0; i<$miaobian.length; i++){
                    $miaobian[i].style.borderColor = '#dedede';
                }
                thisMb.style.borderColor = '#cd2426';

                $huantu[0].src = thisMb.children[0].src;
            }
            function miaobian1(thisMb1){
                for(var i=0; i<$miaobian1.length; i++){
                    $miaobian1[i].style.borderColor = '#dedede';
                }
//		thisMb.style.borderColor = '#cd2426';
                $miaobian.css('border-color','#dedede');
                thisMb1.style.borderColor = '#cd2426';
                $huantu[0].src = thisMb1.children[0].src;
            }
            $(".Xcontent33").click(function(){
                var value=parseInt($('.input').val())+1;
                $('.input').val(value);
            })

            $(".Xcontent32").click(function(){
                var num = $(".input").val()
                if(num>0){
                    $(".input").val(num-1);
                }

            })

        })
    </script>

</head>
<body>
<div class="header">
    <div class="headertop_desc">
        <div class="wrap">
            <div class="nav_list">
                <ul>
                    <!--						<li><a href="/asserts/contact.html">联系</a></li>-->
                    <li>
                        <select name="city" id="select" style="z-index: 100;">
                            <option value="1">上海</option>
                            <option value="2" selected>北京</option>
                            <option value="105">保定</option>
                            <option value="3">深圳</option>
                            <option value="4">重庆</option>
                            <option value="5">广州</option>
                            <option value="6">成都</option>
                            <option value="7">武汉</option>
                            <option value="8">东莞</option>
                            <option value="9">天津</option>
                            <option value="10">杭州</option>
                            <option value="11">沈阳</option>
                            <option value="12">佛山</option>
                            <option value="13">合肥</option>
                            <option value="14">南京</option>
                            <option value="15">长沙</option>
                            <option value="16">西安</option>
                            <option value="17">郑州</option>
                            <option value="18">宁波</option>
                            <option value="19">大连</option>
                            <option value="20">青岛</option>
                        </select>
                    </li>
                    <li><a href="javascript:void(0)" onclick="selectCityMovie()">选择城市</a></li>
                    <li><a href="javascript:void(0)">影片</a></li>
                    <li><a href="/toindex_cinema">影城</a></li>
                    <li><a href="/toshopping">商城</a></li>
                </ul>
            </div>
            <div class="account_desc">
                <ul>
                    <li>
                        <span th:if="${session.users==null}">
                            <a th:href="@{/login}">登录</a>
                        </span>
                        <span th:if="${session.users!=null}">
                            <a href="/touserOderSelect" th:text="${session.users.uname}"></a>
                            <a href="/zhuxiao">注销</a>
                        </span>
                    </li>
                    <li><a href="javascript:void(0)">交付记录</a></li>
                    <li><a href="#">我的账户</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="Xcontent">
    <ul class="Xcontent01">
        <div class="Xcontent06"><img src="/asserts/images/X1.png"></div>
        <ol class="Xcontent08">
            <div class="Xcontent07"><img src="/asserts/images/X1.png"></div>
            <div class="Xcontent09"><img src="/asserts/images/X7.png"></div>
            <div class="Xcontent10"><img src="/asserts/images/X8.png"></div>
            <div class="Xcontent11"><img src="/asserts/images/X9.png"></div>
            <div class="Xcontent12"><img src="/asserts/images/X10.png"></div>
        </ol>
        <ol class="Xcontent13">
            <div class="Xcontent14"><a href="#"><p>新物品</p></a></div>
            <div class="Xcontent15"><img src="/asserts/images/X11.png"></div>
            <div class="Xcontent16"><p>充电5分钟，温暖2小时</p></div>
            <div class="Xcontent17">
                <p class="Xcontent18">售价</p>
                <p class="Xcontent19">￥<span>69.00</span></p>
                <div class="Xcontent20">
                    <p class="Xcontent21">促销</p>
                    <img src="/asserts/images/X12.png">
                    <p class="Xcontent22">领610元新年礼券，满再赠好礼</p>
                </div>
                <div class="Xcontent23">
                    <p class="Xcontent24">服务</p>
                    <p class="Xcontent25">30天无忧退货&nbsp;&nbsp;&nbsp;&nbsp;       48小时快速退款 &nbsp;&nbsp;&nbsp;&nbsp;        满88元免邮</p>
                </div>

            </div>
            <div class="Xcontent26">
                <p class="Xcontent27">颜色</p>
                <div class="Xcontent28"><img  src="/asserts/images/X14.png"></div>
                <div class="Xcontent29"><img  src="/asserts/images/X1.png"></div>
            </div>
            <div class="Xcontent30">
                <p class="Xcontent31">数量</p>
                <div class="Xcontent32"><img src="/asserts/images/X15.png"></div>
                <form><input class="input" value="1"></form>
                <div class="Xcontent33"><img src="/asserts/images/16.png"></div>
            </div>
            <div class="Xcontent34"><a href="#"><img src="/asserts/images/X17.png"></a></div>
            <div class="Xcontent35"><a href="#"><img src="/asserts/images/X18.png"></a></div>
        </ol>
    </ul>
</div>
<div class="footer">
    <div class="wrap">
        <div class="section group">
            <div class="col_1_of_4 span_1_of_4">
                <h4>信息</h4>
                <ul>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">客户服务</a></li>
                    <li><a href="#">高级搜索</a></li>
                    <li><a href="#">订单</a></li>
                    <li><a href="contact.html">联系我们</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>Why buy from us</h4>
                <ul>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">客户服务</a></li>
                    <li><a href="#">隐私政策</a></li>
                    <li><a href="contact.html">网站地图</a></li>
                    <li><a href="#">搜索词</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>我的账户</h4>
                <ul>
                    <li><a href="contact.html">登录跟踪</a></li>
                    <li><a href="index.html">查看购物车</a></li>
                    <li><a href="#">愿望列表</a></li>
                    <li><a href="#">订单</a></li>
                    <li><a href="contact.html">帮助</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>联系</h4>
                <ul>
                    <li><span>+91-123-456789</span></li>
                    <li><span>+00-123-000000</span></li>
                </ul>
                <div class="social-icons">
                    <h4>跟踪我们</h4>
                    <ul>
                        <li><a href="#" target="_blank"><img src="/asserts/images/facebook.png" alt=""/></a></li>
                        <li><a href="#" target="_blank"><img src="/asserts/images/twitter.png" alt=""/></a></li>
                        <li><a href="#" target="_blank"><img src="/asserts/images/skype.png" alt=""/> </a></li>
                        <li><a href="#" target="_blank"> <img src="/asserts/images/linkedin.png" alt=""/></a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
