<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>星空影城选座购票</title>
    <meta name="keywords" content="jQuery在线选座,jQuery选座系统" />
    <meta name="description" content="jquery.seat-charts是一款适合电影票、高铁票的在线选座插件。" />
    <link rel="stylesheet" type="text/css" href="/asserts/css/jq22.css" />
    <link href="/asserts/css/style.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">

        .front{width: 300px;margin: 5px 32px 45px 32px;background-color: #f0f0f0;	color: #666;text-align: center;padding: 3px;border-radius: 5px;}

        .booking_area {float: right;position: relative;width:400px;height: 450px; }

        .booking_area h3 {margin: 5px 5px 0 0;font-size: 16px;}

        .booking_area p{line-height:26px; font-size:16px; color:#999}

        .booking_area p span{color:#666}

        div.seatCharts-cell {color: #182C4E;height: 25px;width: 25px;line-height: 25px;margin: 3px;float: left;text-align: center;outline: none;font-size: 13px;}

        div.seatCharts-seat {color: #fff;cursor: pointer;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

        div.seatCharts-row {height: 35px;}

        div.seatCharts-seat.available {background-color: #B9DEA0;}

        div.seatCharts-seat.focused {background-color: #76B474;border: none;}

        div.seatCharts-seat.selected {background-color: #E6CAC4;}

        div.seatCharts-seat.unavailable {background-color: #472B34;cursor: not-allowed;}

        div.seatCharts-container {border-right: 1px dotted #adadad;width: 400px;padding: 20px;float: left;}

        div.seatCharts-legend {padding-left: 0px;position: absolute;bottom: 16px;}

        ul.seatCharts-legendList {padding-left: 0px;}

        .seatCharts-legendItem{float:left; width:90px;margin-top: 10px;line-height: 2;}

        span.seatCharts-legendDescription {margin-left: 5px;line-height: 30px;}

        .checkout-button {display: block;width:80px; height:24px; line-height:20px;margin: 10px auto;border:1px solid #999;font-size: 14px; cursor:pointer}

        #seats_chose {max-height: 150px;overflow-y: auto;width: 200px;}

        #seats_chose li{float:left; width:72px; height:26px; line-height:26px; border:1px solid #d3d3d3; background:#f7f7f7; margin:6px; font-size:14px; font-weight:bold; text-align:center}
        table,thead{width: 100%;}
        tr th{width:25%;height:30px;background-color: #23B7E5;font-size: 16px;padding: 2px 0px;color:#fff;}
        tr td{text-align: center;padding: 5px 0px;background-color: #fff;font-size: 14px;}
        tr td a{padding: 2px 5px;border:1px solid #ddd;cursor: pointer;}
        ul li{list-style-type: none;overflow: hidden;}
        #div1{width:600px;border:1px solid #ddd;right:0px;top:0px;margin-top: 30px;
            background-color: #F5F5F5;
        }
        #div1 ul li p{50%;text-align: right;flex: 1;}
        #div2 ul{overflow: hidden;}
        #div2 ul li{float: left;width:150px;height:120px;border:1px solid #ddd;margin-right: 10px;}
        #div2 ul li img{width: 100%;height: 100%;}
        .div_panel{min-height: 200px;}
        .span1{margin-left: 35px}
        .span2{margin-left: 60px}
        .span3{margin-left: 90px}
        .span4{margin-left: 50px}
    </style>
</head>
<body>
<div class="header">
    <div class="headertop_desc">
        <div class="wrap">
            <div class="nav_list">
                <ul>
                    <li><a href="/">首页</a></li>
                    <li><a href="javascript:void(0)">影片</a></li>
                    <li><a href="/asserts/jsp/index_cinema.jsp">影城</a></li>
                </ul>
            </div>
            <div class="account_desc">
                <ul>
                    <li>
                        <span th:if="${session.users==null}">
                            <a th:href="@{/login}">登录</a>
                        </span>
                        <span th:if="${session.users!=null}">
                            <a href="/touserOderSelect" class="name" th:text="${session.users.uname}"></a>
                            <a href="/zhuxiao">注销</a>
                        </span>
                    </li>
                    <li><a href="javascript:void(0)">交付记录</a></li>
                    <li><a href="#">我的账户</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="wrap">
        <div class="header_top">
            <div class="logo">
                <a href="index.html"><img src="/asserts/images/logo.png" alt=""/></a>
            </div>
            <div class="header_top_right">
                <div class="cart">
                    <p><span>购物车</span>
                    <div id="dd" class="wrapper-dropdown-2"> (空)
                        <ul class="dropdown">
                            <li>您的购物车中没有商品</li>
                        </ul>
                    </div>
                    </p>
                </div>
                <div class="search_box">
                    <form>
                        <input type="text" value="搜索" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = '搜索';}"><input type="submit" value="">
                    </form>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="title"><a href="http://www.jq22.com/jquery-info2692">星空影城选座购票</a></h2>
    <div class="demo clearfix">
        <!---左边座位列表----->
        <div id="seat_area">
            <div class="front">屏幕</div>
        </div>

        <!---右边选座信息----->
        <div class="booking_area">
            <p>电影：<span th:text="${movieName}"></span></p>
            <p>时间：<span th:text="${time}" class="s1"></span></p>
            <p>放映厅：<span th:text="${session.movieRoom}"></span></p>
            <p>座位：</p>
            <ul id="seats_chose"></ul>
            <p>票数：<span id="tickects_num">0</span></p>
            <p>总价：<b>￥<span id="total_price">0</span></b></p>
            <input type="button" class="btn buy" value="确定购买"/>
            <div id="legend"></div>
            <input type="hidden" class="movieDate" th:value="${session.movieTicket.movieDate}">
            <input type="hidden" class="movieName" th:value="${session.movieTicket.movieName}">
            <input type="hidden" class="movieRoom" th:value="${session.movieTicket.movieRoom}">
            <input type="hidden" class="moviePrice" th:value="${session.movieTicket.moviePrice}">
            <input type="hidden" class="movieYingchengid" th:value="${session.movieTicket.movieYingchengid}">
        </div>
    </div>

</div>
<div style="margin-top: 50px;margin-left: 185px">
    <span>如需订购食品请将你需要订购的食品图片拖到下面表格中</span>
    <div id="div2" style="margin-top: 10px">
        <ul>
            <li>
                <img id="img1" src="/asserts/img/爆米花（大）.jpg" draggable="true" ondragstart="drag(this)" /><br>
                <input type="hidden" id="inp_money" value="29.9"/>
                <input type="hidden" id="inp_name" value="爆米花（大）" />
            </li>
            <li>
                <img id="img1" src="/asserts/img/爆米花（小）.jpg" draggable="true" ondragstart="drag(this)" class="bmhx"/>
                <input type="hidden" id="inp_money" value="16.5"/>
                <input type="hidden" id="inp_name" value="爆米花（小）" />
            </li>
            <li>
                <img id="img1" src="/asserts/img/可乐.jpg" draggable="true" ondragstart="drag(this)" />
                <input type="hidden" id="inp_money" value="10"/>
                <input type="hidden" id="inp_name" value="可乐" />
            </li>
            <li>
                <img id="img1" src="/asserts/img/套餐.jpg" draggable="true" ondragstart="drag(this)" />
                <input type="hidden" id="inp_money" value="44.9"/>
                <input type="hidden" id="inp_name" value="爆米花（大）+两杯可乐" />
            </li>
        </ul>
        <div>
            <span class="span1">爆米花（大）</span>
            <span class="span2">爆米花（小）</span>
            <span class="span3">可乐</span>
            <span class="span4">爆米花（大）+两杯可乐</span>
        </div>
        <div id="div1" ondrop="drop()" ondragover="allowDrop(event)">
            <div class="div_panel">
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>价格</th>
                    </tr>
                    </thead>
                    <tbody id="ul_panel"></tbody>
                </table>

            </div>

        </div>
        <div class="allMoney">总价:<span id="totalMoney" class="totalPrice">0</span></div>
        <div style="border: 1px solid black;width: 600px;margin-top: 20px;background-color: #f7f7f7">
             <span>特别提示：<br>
            &nbsp;&nbsp;&nbsp;&nbsp;1、下单前请仔细核对影片、影院、场次、手机号等信息。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;2、每笔订单最多可以选择6个座位。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;3、电影票售出后暂不支持退换 。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;4、订购的食品不支持外送，请到店后出示进场码领取。
        </span>
        </div>
    </div>

</div>
<span hidden th:text="${session.memberType}" class="memberType"></span>
<div class="footer">
    <div class="wrap">
        <div class="section group">
            <div class="col_1_of_4 span_1_of_4">
                <h4>信息</h4>
                <ul>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">客户服务</a></li>
                    <li><a href="#">高级搜索</a></li>
                    <li><a href="#">订单</a></li>
                    <li><a href="contact.html">联系我们</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>Why buy from us</h4>
                <ul>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">客户服务</a></li>
                    <li><a href="#">隐私政策</a></li>
                    <li><a href="contact.html">网站地图</a></li>
                    <li><a href="#">搜索词</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>我的账户</h4>
                <ul>
                    <li><a href="contact.html">登录跟踪</a></li>
                    <li><a href="index.html">查看购物车</a></li>
                    <li><a href="#">愿望列表</a></li>
                    <li><a href="#">订单</a></li>
                    <li><a href="contact.html">帮助</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>联系</h4>
                <ul>
                    <li><span>+91-123-456789</span></li>
                    <li><span>+00-123-000000</span></li>
                </ul>
                <div class="social-icons">
                    <h4>跟踪我们</h4>
                    <ul>
                        <li><a href="#" target="_blank"><img src="/asserts/images/facebook.png" alt=""/></a></li>
                        <li><a href="#" target="_blank"><img src="/asserts/images/twitter.png" alt=""/></a></li>
                        <li><a href="#" target="_blank"><img src="/asserts/images/skype.png" alt=""/> </a></li>
                        <li><a href="#" target="_blank"> <img src="/asserts/images/linkedin.png" alt=""/></a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<span hidden th:text="${price}" class="price"></span>
<span hidden th:text="${ting}" class="ting"></span>
<script src="http://www.jq22.com/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/asserts/js/jquery.seat-charts.min.js"></script>
<script src="/asserts/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" >
    var money=0;
    var name="";
    var data=[];
    function allowDrop(e){
        e.preventDefault();
    }
    function drag(t){
        money=$(t).siblings("#inp_money").val();
        name=$(t).siblings("#inp_name").val();
        /*var num=1;
        add(name,money,num);*/
    }
    function addJson(name,money){
        for(var j=0;j<data.length;j++){
            if(data[j].name==name){
                data[j].num++;
                return;
            }
        }
        data.push({
            money:money,
            name:name,
            num:1
        });
    }

    function addHtml(){
        var text_html='';
        var totalMoney=0;
        $("#ul_panel").html("");
        for(var i=0;i<data.length;i++){
            text_html+='<tr><td>'+data[i].name+'</td><td>'+data[i].money+'</td><td><a onclick="reduce(\'\'+'+i+',this)">-</a><span> '+data[i].num+'</span> ';
            text_html+='<a onclick="addNum(\'\'+'+i+',this)">+</a></td><td>￥'+(data[i].money*data[i].num)+'</td></tr>';
            totalMoney+=data[i].money*data[i].num;
            $("#totalMoney").text(totalMoney);
        }
        $("#ul_panel").append(text_html);
    }
    function drop(){
        addJson(name,money);
        addHtml();
    }
    function reduce(a,t){
        data[a].num--;
        if(data[a].num==0){
            data.splice(a,1);
        }
        if(data.length==0){
            $("#totalMoney").text(0);
        }
        addHtml();
    }
    function addNum(a,t){
        data[a].num++;
        addHtml();
    }
    var price2 = $(".price").text(); //电影票价
    var price=parseInt(price2);
    var ting = $(".ting").text(); //电影票价
    var list1=new Array();
    var jie="";
    $(document).ready(function() {
        addHtml();
        var movieName=$(".movieName").val();
        var movieYingchengid=$(".movieYingchengid").val();
        var movieDate=$(".movieDate").val();
        var $cart = $('#seats_chose'), //座位区
            $tickects_num = $('#tickects_num'), //票数
            $total_price = $('#total_price'); //票价总额
        if(ting==0){
            var sc = $('#seat_area').seatCharts({
                    map: [//座位结构图 a 代表座位; 下划线 "_" 代表过道
                    'cccccccccc', 'cccccccccc', '__________', 'cccccccc__', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cc__cc__cc'

            //'cccccccccc', 'cccccccccc', '__________', 'cccccccc__', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cc__cc__cc'
                ],

            naming: {//设置行列等信息
                top: false, //不显示顶部横坐标（行）
                    getLabel: function(character, row, column) { //返回座位信息
                    return column;
                }
            },

            legend: {//定义图例
                node: $('#legend'),
                    items: [
                    ['c', 'available', '可选座'],
                    ['c', 'unavailable', '已售出']
                ]
            },

            click: function() {
                if (this.status() == 'available') { //若为可选座状态，添加座位
                    $('<li class="li">' + (this.settings.row + 1) + '排' + this.settings.label + '座</li>')
                        .attr('id', 'cart-item-' + this.settings.id)
                        .data('seatId', this.settings.id)
                        .appendTo($cart);
                    $tickects_num.text(sc.find('selected').length + 1); //统计选票数量
                    $total_price.text(getTotalPrice(sc) + price);//计算票价总金额
                    return 'selected';
                } else if (this.status() == 'selected') { //若为选中状态
                    $tickects_num.text(sc.find('selected').length - 1);//更新票数量
                    $total_price.text(getTotalPrice(sc) - price);//更新票价总金额
                    $('#cart-item-' + this.settings.id).remove();//删除已预订座位
                    return 'available';
                } else if (this.status() == 'unavailable') { //若为已售出状态
                    return 'unavailable';
                } else {
                    return this.style();
                }
            }
        });
        }else if(ting==1){
            var sc = $('#seat_area').seatCharts({
                map: [//座位结构图 a 代表座位; 下划线 "_" 代表过道
                'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccc__', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc'
            //'cccccccccc', 'cccccccccc', '__________', 'cccccccc__', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cc__cc__cc'
                ],

            naming: {//设置行列等信息
                top: false, //不显示顶部横坐标（行）
                    getLabel: function(character, row, column) { //返回座位信息
                    return column;
                }
            },

            legend: {//定义图例
                node: $('#legend'),
                    items: [
                    ['c', 'available', '可选座'],
                    ['c', 'unavailable', '已售出']
                ]
            },

            click: function() {
                if (this.status() == 'available') { //若为可选座状态，添加座位
                    $('<li class="li">' + (this.settings.row + 1) + '排' + this.settings.label + '座</li>')
                        .attr('id', 'cart-item-' + this.settings.id)
                        .data('seatId', this.settings.id)
                        .appendTo($cart);
                    $tickects_num.text(sc.find('selected').length + 1); //统计选票数量
                    $total_price.text(getTotalPrice(sc) + price);//计算票价总金额
                    return 'selected';
                } else if (this.status() == 'selected') { //若为选中状态
                    $tickects_num.text(sc.find('selected').length - 1);//更新票数量
                    $total_price.text(getTotalPrice(sc) - price);//更新票价总金额
                    $('#cart-item-' + this.settings.id).remove();//删除已预订座位
                    return 'available';
                } else if (this.status() == 'unavailable') { //若为已售出状态
                    return 'unavailable';
                } else {
                    return this.style();
                }
            }
        });
        }else if(ting==2){
            var sc = $('#seat_area').seatCharts({
                map: [//座位结构图 a 代表座位; 下划线 "_" 代表过道

                'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc'
            //'cccccccccc', 'cccccccccc', '__________', 'cccccccc__', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cc__cc__cc'
                ],

            naming: {//设置行列等信息
                top: false, //不显示顶部横坐标（行）
                    getLabel: function(character, row, column) { //返回座位信息
                    return column;
                }
            },

            legend: {//定义图例
                node: $('#legend'),
                    items: [
                    ['c', 'available', '可选座'],
                    ['c', 'unavailable', '已售出']
                ]
            },

            click: function() {
                if (this.status() == 'available') { //若为可选座状态，添加座位
                    $('<li class="li">' + (this.settings.row + 1) + '排' + this.settings.label + '座</li>')
                        .attr('id', 'cart-item-' + this.settings.id)
                        .data('seatId', this.settings.id)
                        .appendTo($cart);
                    $tickects_num.text(sc.find('selected').length + 1); //统计选票数量
                    $total_price.text(getTotalPrice(sc) + price);//计算票价总金额
                    return 'selected';
                } else if (this.status() == 'selected') { //若为选中状态
                    $tickects_num.text(sc.find('selected').length - 1);//更新票数量
                    $total_price.text(getTotalPrice(sc) - price);//更新票价总金额
                    $('#cart-item-' + this.settings.id).remove();//删除已预订座位
                    return 'available';
                } else if (this.status() == 'unavailable') { //若为已售出状态
                    return 'unavailable';
                } else {
                    return this.style();
                }
            }
        });
        }else if(ting==3){
            var sc = $('#seat_area').seatCharts({
                map: [//座位结构图 a 代表座位; 下划线 "_" 代表过道

                'cccccccccc', 'cccccccccc', 'cccccccc__', 'cccccccc__', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cc__cc__cc'
            //'cccccccccc', 'cccccccccc', '__________', 'cccccccc__', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cc__cc__cc'
                ],

            naming: {//设置行列等信息
                top: false, //不显示顶部横坐标（行）
                    getLabel: function(character, row, column) { //返回座位信息
                    return column;
                }
            },

            legend: {//定义图例
                node: $('#legend'),
                    items: [
                    ['c', 'available', '可选座'],
                    ['c', 'unavailable', '已售出']
                ]
            },

            click: function() {
                if (this.status() == 'available') { //若为可选座状态，添加座位
                    $('<li class="li">' + (this.settings.row + 1) + '排' + this.settings.label + '座</li>')
                        .attr('id', 'cart-item-' + this.settings.id)
                        .data('seatId', this.settings.id)
                        .appendTo($cart);
                    $tickects_num.text(sc.find('selected').length + 1); //统计选票数量
                    $total_price.text(getTotalPrice(sc) + price);//计算票价总金额
                    return 'selected';
                } else if (this.status() == 'selected') { //若为选中状态
                    $tickects_num.text(sc.find('selected').length - 1);//更新票数量
                    $total_price.text(getTotalPrice(sc) - price);//更新票价总金额
                    $('#cart-item-' + this.settings.id).remove();//删除已预订座位
                    return 'available';
                } else if (this.status() == 'unavailable') { //若为已售出状态
                    return 'unavailable';
                } else {
                    return this.style();
                }
            }
        });
        }else if(ting==4){

            var sc = $('#seat_area').seatCharts({
                map: [//座位结构图 a 代表座位; 下划线 "_" 代表过道

                '___ccccccc', '___ccccccc', '___ccccccc', '___ccccccc', '___ccccccc', '___ccccccc', '___ccccccc', '___ccccccc', '___ccccccc', '___ccccccc'
            //'cccccccccc', 'cccccccccc', '__________', 'cccccccc__', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cc__cc__cc'
                ],

            naming: {//设置行列等信息
                top: false, //不显示顶部横坐标（行）
                    getLabel: function(character, row, column) { //返回座位信息
                    return column;
                }
            },

            legend: {//定义图例
                node: $('#legend'),
                    items: [
                    ['c', 'available', '可选座'],
                    ['c', 'unavailable', '已售出']
                ]
            },

            click: function() {
                if (this.status() == 'available') { //若为可选座状态，添加座位
                    $('<li class="li">' + (this.settings.row + 1) + '排' + this.settings.label + '座</li>')
                        .attr('id', 'cart-item-' + this.settings.id)
                        .data('seatId', this.settings.id)
                        .appendTo($cart);
                    $tickects_num.text(sc.find('selected').length + 1); //统计选票数量
                    $total_price.text(getTotalPrice(sc) + price);//计算票价总金额
                    return 'selected';
                } else if (this.status() == 'selected') { //若为选中状态
                    $tickects_num.text(sc.find('selected').length - 1);//更新票数量
                    $total_price.text(getTotalPrice(sc) - price);//更新票价总金额
                    $('#cart-item-' + this.settings.id).remove();//删除已预订座位
                    return 'available';
                } else if (this.status() == 'unavailable') { //若为已售出状态
                    return 'unavailable';
                } else {
                    return this.style();
                }
            }
        });
        }else if(ting==5){
            var sc = $('#seat_area').seatCharts({
                map: [//座位结构图 a 代表座位; 下划线 "_" 代表过道

                'ccccccccc_', 'ccccccccc_', 'ccccccccc_', 'ccccccccc_', 'ccccccccc_', 'ccccccccc_', 'ccccccccc_', 'ccccccccc_', 'ccccccccc_', 'ccccccccc_'
            //'cccccccccc', 'cccccccccc', '__________', 'cccccccc__', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cc__cc__cc'
                ],

            naming: {//设置行列等信息
                top: false, //不显示顶部横坐标（行）
                    getLabel: function(character, row, column) { //返回座位信息
                    return column;
                }
            },

            legend: {//定义图例
                node: $('#legend'),
                    items: [
                    ['c', 'available', '可选座'],
                    ['c', 'unavailable', '已售出']
                ]
            },

            click: function() {
                if (this.status() == 'available') { //若为可选座状态，添加座位
                    $('<li class="li">' + (this.settings.row + 1) + '排' + this.settings.label + '座</li>')
                        .attr('id', 'cart-item-' + this.settings.id)
                        .data('seatId', this.settings.id)
                        .appendTo($cart);
                    $tickects_num.text(sc.find('selected').length + 1); //统计选票数量
                    $total_price.text(getTotalPrice(sc) + price);//计算票价总金额
                    return 'selected';
                } else if (this.status() == 'selected') { //若为选中状态
                    $tickects_num.text(sc.find('selected').length - 1);//更新票数量
                    $total_price.text(getTotalPrice(sc) - price);//更新票价总金额
                    $('#cart-item-' + this.settings.id).remove();//删除已预订座位
                    return 'available';
                } else if (this.status() == 'unavailable') { //若为已售出状态
                    return 'unavailable';
                } else {
                    return this.style();
                }
            }
        });
        }else if(ting==6){
            var sc = $('#seat_area').seatCharts({
                map: [//座位结构图 a 代表座位; 下划线 "_" 代表过道

                'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccc__', 'cccccccccc', '__________', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cc__cc__cc'
            //'cccccccccc', 'cccccccccc', '__________', 'cccccccc__', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cc__cc__cc'
                ],

            naming: {//设置行列等信息
                top: false, //不显示顶部横坐标（行）
                    getLabel: function(character, row, column) { //返回座位信息
                    return column;
                }
            },

            legend: {//定义图例
                node: $('#legend'),
                    items: [
                    ['c', 'available', '可选座'],
                    ['c', 'unavailable', '已售出']
                ]
            },

            click: function() {
                if (this.status() == 'available') { //若为可选座状态，添加座位
                    $('<li class="li">' + (this.settings.row + 1) + '排' + this.settings.label + '座</li>')
                        .attr('id', 'cart-item-' + this.settings.id)
                        .data('seatId', this.settings.id)
                        .appendTo($cart);
                    $tickects_num.text(sc.find('selected').length + 1); //统计选票数量
                    $total_price.text(getTotalPrice(sc) + price);//计算票价总金额
                    return 'selected';
                } else if (this.status() == 'selected') { //若为选中状态
                    $tickects_num.text(sc.find('selected').length - 1);//更新票数量
                    $total_price.text(getTotalPrice(sc) - price);//更新票价总金额
                    $('#cart-item-' + this.settings.id).remove();//删除已预订座位
                    return 'available';
                } else if (this.status() == 'unavailable') { //若为已售出状态
                    return 'unavailable';
                } else {
                    return this.style();
                }
            }
        });
        }else if(ting==7){
            var sc = $('#seat_area').seatCharts({
                map: [//座位结构图 a 代表座位; 下划线 "_" 代表过道
                '_cccccccc_', '_cccccccc_', '_cccccccc_', '_cccccccc_', '_cccccccc_', '_cccccccc_', '_cccccccc_', '_cccccccc_', '_cccccccc_', 'cccccccccc'
            //'cccccccccc', 'cccccccccc', '__________', 'cccccccc__', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccc', 'cc__cc__cc'
                ],

            naming: {//设置行列等信息
                top: false, //不显示顶部横坐标（行）
                    getLabel: function(character, row, column) { //返回座位信息
                    return column;
                }
            },

            legend: {//定义图例
                node: $('#legend'),
                    items: [
                    ['c', 'available', '可选座'],
                    ['c', 'unavailable', '已售出']
                ]
            },

            click: function() {
                if (this.status() == 'available') { //若为可选座状态，添加座位
                    $('<li class="li">' + (this.settings.row + 1) + '排' + this.settings.label + '座</li>')
                        .attr('id', 'cart-item-' + this.settings.id)
                        .data('seatId', this.settings.id)
                        .appendTo($cart);
                    $tickects_num.text(sc.find('selected').length + 1); //统计选票数量
                    $total_price.text(getTotalPrice(sc) + price);//计算票价总金额
                    return 'selected';
                } else if (this.status() == 'selected') { //若为选中状态
                    $tickects_num.text(sc.find('selected').length - 1);//更新票数量
                    $total_price.text(getTotalPrice(sc) - price);//更新票价总金额
                    $('#cart-item-' + this.settings.id).remove();//删除已预订座位
                    return 'available';
                } else if (this.status() == 'unavailable') { //若为已售出状态
                    return 'unavailable';
                } else {
                    return this.style();
                }
            }
        });
        }

        //设置已售出的座位
        // var json={
        //     zw:['1_3', '1_4', '4_4', '4_5', '4_6', '4_7', '4_8','6_1',]
        // }
        var json={
            yingpianname:movieName,
            yingyuanid:movieYingchengid
        }
        $.ajax({
            url:"/selectSeat",
            data:json,
            type:"POST",
            dataType:"json",
            async:false,
            success:function (result) {
                if(result.status=="true"){
                    $.each(result.jie,function (i,v) {
                        list1.push(v);
                        console.log(v)
                    })
                }
                //list=['5_1','5_2','5_4','5_5','4_6','4_7','4_8','6_1'];
            }
        })
        //alert(list1);
        list1.push('1_1');
        list1.push('2_1');
        sc.get(list1).status('unavailable');
        $(".buy").click(function () { //结算前判断是否登录
            var name=$(".name").text();
            if(name==""){
                layer.msg('请您先进行登录!', function(){
                    //关闭后的操作
                    location.href="/login";
                });
            }else{
                var movieYingchengid=$(".movieYingchengid").val();
                var movieDate=$(".s1").text();
                var d=$("#ul_panel tr").length;
                var commodityName="";
                for (var i=0;i<d;i++) {
                    commodityName += $("#ul_panel tr").eq(i).find("td:first").text() + "*" + $("#ul_panel tr").eq(i).find("td:eq(2)").find("span:first").text() + ",";
                }
                var movieName=$(".movieName").val();
                var movieRoom=$(".movieRoom").val();
                var total_price2=$("#total_price").text();
                var total_price=parseFloat(total_price2)
                var totalMoney2=$("#totalMoney").text();
                var totalMoney=parseFloat(totalMoney2);
                var memberType=$(".memberType").text();
                var moviePrice3=total_price+totalMoney;
                var moviePrice2=total_price+totalMoney;
                if(memberType=="钻石会员"){
                    moviePrice3=moviePrice3*0.85;
                }else if(memberType=="铂金会员"){
                    moviePrice3=moviePrice3*0.90;
                }else if(memberType=="黄金会员"){
                    moviePrice3=moviePrice3*0.95;
                }
                var b=String(moviePrice3)
                var a=b.indexOf(".");
                var moviePrice=b.substring(0,a+2);
                var seat=$(".li").text();
                console.log($(".li").text());
                if(total_price!=0) {
                    var bo = confirm("您本次购买共计" + moviePrice2 + "元,因为您是"+memberType+",优惠后价格为"+moviePrice+",确定支付吗？");
                    if (bo == true) {
                        //location.href="/buyMovie?seat="+seat+"&movieName="+movieName+"&movieDate="+movieDate+"&movieRoom="+movieRoom+"&moviePrice="+moviePrice+"&yingchengid="+movieYingchengid+"";
                        location.href = "/zhifuyemian?seat=" + seat + "&movieName=" + movieName + "&movieDate=" + movieDate + "&movieRoom=" + movieRoom + "&moviePrice=" + moviePrice + "&yingchengid=" + movieYingchengid + "&totalMoney=" + totalMoney + "&commodityName=" + commodityName + "";
                    }
                }else {
                    layer.open({
                        title: '温馨提示'
                        ,content: '请选择电影票,不支持单独购买食品'
                    });
                }
            }
        })
    });

    function getTotalPrice(sc) { //计算票价总额
        var total = 0;
        sc.find('selected').each(function() {
            total += price;
        });
        return total;
    }


</script>
</body>
</html>