<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>星空影城购物车结算</title>
    <link rel="stylesheet" href="/asserts/css/gwc_cart.css">
    <link rel="stylesheet" type="text/css" href="/asserts/css/jq22.css" />
    <link href="/asserts/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/asserts/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="/asserts/css/teststyle.css" />
    <style>
        /*修改头部底部字体大小*/
        .nav_list li a {font-size: 1.1em;}
        .account_desc li a {font-size: 1em;}
        .span_1_of_4 li a{font-size: 1em;}
        /*table表格*/
        .table{font-family:Arial; font-size:14px;line-height:180%;padding-top: 20px;} /*总控制，可忽略此行*/
        .table table tr:first-child{background:gray; color:#fff;font-weight:bold;} /*第一行标题蓝色背景*/
        .table table{border-top:1pt solid #C1DAD7;border-left:1pt solid #C1DAD7;margin: 0 auto;}
        .table td{ padding:5px 10px; text-align:center;border-right:1pt solid #C1DAD7;border-bottom:1pt solid #C1DAD7;}
        .table tr:nth-of-type(odd){ background:gainsboro} /* odd 标识奇数行，even标识偶数行 */
        .table tr:hover{ background: lightgrey} /*鼠标悬停后表格背景颜色*/
        /*跳转address*/
        .tzaddress{
            margin-left: 200px;
        }
    </style>
</head>

<body>
<div class="header">
    <div class="headertop_desc">
        <div class="wrap">
            <div class="nav_list">
                <ul>
                    <li><a href="/">首页</a></li>
                    <li><a href="/">影片</a></li>
                    <li><a href="/toindex_cinema">影城</a></li>
                </ul>
            </div>
            <div class="account_desc">
                <ul>
                    <li>
                        <span th:if="${session.users==null}">
                            <a th:href="@{/login}">登录</a>
                        </span>
                        <span th:if="${session.users!=null}">
                            <a href="/toPersonalCenter" class="name" th:text="${session.users.uname}"></a>
                            <a href="/zhuxiao">注销</a>
                        </span>
                    </li>
                    <li><a href="/touserOderSelect">交付记录</a></li>
                    <li><a href="/toPersonalCenter">我的账户</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="wrap">
        <div class="header_top">
            <div class="logo">
                <a href="index.html"><img src="/asserts/images/logo.png" alt=""/></a>
            </div>
            <div class="header_top_right">
                <div class="cart">
                    <p><span>购物车</span>
                    <div id="dd" class="wrapper-dropdown-2">
                        <ul class="dropdown">
                            <li>您的购物车中没有商品</li>
                        </ul>
                    </div>
                    </p>
                </div>
                <div class="search_box">
                    <form>
                        <input type="text" value="搜索" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = '搜索';}"><input type="submit" value="">
                    </form>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="tzaddress">
    <span style="font-size: 24px;font-weight: bolder">请选择收货地址:</span>
</div>
<div class="receiving_address">
    <dl>
        <div class="table" style=" overflow:hidden; ">
            <table width='900' border='0' cellspacing='0' cellpadding='0' align='center'>
                <tr>
                    <td>请选择</td>
                    <td>收货人</td>
                    <td>性别</td>
                    <td>详细地址</td>
                    <td>邮政编码</td>
                    <td>手机号</td>
                </tr>
                <tr th:each="item : ${harvestAddresses}">
                    <td><input type="radio" th:value="${item.getAddId()}" checked name="addId"></td>
                    <td th:text="${item.getAddName()}">孙阔</td>
                    <td th:text="${item.getAddGender()}">男</td>
                    <td th:text="${item.getAddAddress()}">北京市北京市大兴区课工场产教融合创新基地</td>
                    <td th:text="${item.getAddPostcode()}">000000</td>
                    <td th:text="${item.getAddPhone()}">17600135867</td>
                </tr>
            </table>
            <button style="margin-left: 1120px;margin-top:15px;" type="button" class="layui-btn layui-btn-primary layui-btn-radius xzdz">新增地址</button>
        </div>
    </dl>
</div>


    <div class="float-box">

        <div class="confirm-box">

            <h4 class="confirm-title">
                <span></span>
                <i class="close-btn">

                    <span class="line-left"></span>
                    <span class="line-right"></span>

                </i>
            </h4>

            <div class="confirm-content">

                请选择您要删除的商品？

            </div>

            <div class="confirm-btn">

                <a href="javascript:;" class="delete">删除</a>
                <a href="javascript:;" class="cancel">取消</a>

            </div>

        </div>

    </div>



    <div th:replace="footer :: footer"></div>


    <script src="/asserts/js/jquery-2.1.1.min.js"></script>
    <script src="/asserts/layer/layer.js"></script>
    <script src="/asserts/js/gwc_cart.js"></script>

    <script type="text/javascript">
        $(".xzdz").click(function () {
            location.href="/toShippingAddress";
        })

    </script>

</body>

</html>