<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/asserts/js/jquery-1.11.0.min.js"></script>
    <script src="/asserts/js/loucengfloor.js"></script>
    <link href="/asserts/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/asserts/css/slider.css" rel="stylesheet" type="text/css" media="all"/>

    <link href="/asserts/css/jquery.searchableSelect.css" rel="stylesheet" type="text/css">
    <script src="/asserts/js/jquery-1.11.1.min.js"></script>
    <script src="/asserts/js/jquery.searchableSelect.js"></script>

    <link rel="stylesheet" href="/asserts/css/yemiandibustyle.css">

    <link rel="stylesheet" href="/asserts/css/tab.css">

    <link rel="stylesheet" href="/asserts/css/autocomplete.css">
    <style>
        .pop{width: 150px}
        .name{margin-left: 30px}
        .价格{margin-left: 12px}
        .价格1{margin-left: 90px;margin-top: -40px}
        /*修改头部底部字体大小*/
        .nav_list li a {font-size: 1.1em;}
        .account_desc li a {font-size: 1em;}
        .span_1_of_4 li a{font-size: 1em;}
    </style>
    <link rel="stylesheet" type="text/css" href="/asserts/css/jiarugouwuchereset.css" />
    <link rel="stylesheet" type="text/css" href="/asserts/css/jiarugouwuchedefault.css">

    <!--主要样式-->
    <link rel="stylesheet" type="text/css" href="/asserts/css/jiarugouwuchestyles.css">

    <!--[if IE]>
    <script src="/asserts/js/jquery-1.11.0.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/asserts/js/move-top.js"></script>
    <script type="text/javascript" src="/asserts/js/easing.js"></script>
    <script type="text/javascript" src="/asserts/js/jquery.nivo.slider.js"></script>
    <link rel="stylesheet" href="/asserts/css/zzsc.css" type="text/css"/>
    <script type="text/javascript" src="/asserts/js/jquery.easing.js"></script>
    <script type="text/javascript" src="/asserts/js/zzsc.js"></script>
<!--    <script type="text/javascript">-->
<!--        $(function(){-->
<!--            var $window = $(window),-->
<!--                window_width = $window.width();-->
<!--            $('#js_banner, #js_banner_img li').width(window_width);-->

<!--            var urlParam = G.util.parse.url(),-->
<!--                startFrame = 0;-->
<!--            if (urlParam.search && ('banner' in urlParam.search)) {-->
<!--                startFrame = (parseInt(urlParam.search['banner'])-1) || 0;-->
<!--            }-->

<!--            new $.Tab({/*添加圆点按钮*/-->
<!--                target: $('#js_banner_img li'),-->
<!--                effect: 'slide3d',-->
<!--                animateTime: 1000,-->
<!--                stay: 4000,-->
<!--                playTo: startFrame,-->
<!--                autoPlay: true,-->
<!--                merge: true,-->
<!--                prevBtn: $('#js_banner_pre'),-->
<!--                nextBtn: $('#js_banner_next')-->
<!--            });-->
<!--            $('#js_banner_img').css('left','-' + (window_width * startFrame) + 'px');-->
<!--        })-->
<!--    </script>-->
</head>
<style type="text/css">
    body{background: #F5F5F5;}
    body,ul,li,dl,ol{margin: 0;padding: 0;list-style: none;}
    i{font-style: normal;}
    .fixedmeau{ border: 1px solid #ececec; width: 30px; position: fixed; top: 150px; left: 50px; display: none;background: #fff}
    .fixedmeau li{ width: 30px; height: 30px;line-height: 30px; text-align: center; cursor: pointer;}
    .fixedmeau li+li{border-top: 1px solid #ececec;}
    .fixedmeau span{display: none;}
    .fixedmeau .active{background: white; color: darkred;font-weight: 700}
    .fixedmeau li:hover span{display: block; font-size: 12px; background: darkred; color: white;}
    .fixedmeau li:hover i{display: none;}
    .totop{width: 40px;height: 40px;text-align: center; background: darkred; position: fixed;bottom: 30px; right: 30px; cursor: pointer;border-radius: 5px; display: none;color:#fff;}
    .totop>span{display: block;line-height: 15px;font-size: 12px;color:#fff;}
    .header_box{width:100%;height: 160px; text-align: center; margin: 0 auto;}
    .header_box>.header{line-height: 120px; font-size:64px;color:#4b4b4b;background: #fff;  }
    .header_box>.meau{background: darkred;height:40px;line-height: 40px;color:#fff}
    .louceng{ height: 500px;padding:0 15px 15px 15px;box-sizing:border-box; width: 1200px;text-align: center;margin: 0 auto;border:1px solid #ECECEC;background: #fff}
    .louceng>.title{width:100%;height:50px;font-size: 18px;line-height: 50px;text-align: left;font-weight: 700;color: #333;}
    .louceng>.title>span{margin-left: 5px;font-weight: normal}
    .louceng>.con{width:100%;height:735px;background: #F1F1F1;font-size: 64px;line-height: 735px;color:#333333}
    /*修改头部底部字体大小*/
    .nav_list li a {font-size: 0.8em;}
    .account_desc li a {font-size: 0.8em;}
    .span_1_of_4 li a{font-size: 0.8em;}
    /*商品边距*/
    .item{
        margin-left: 110px;
    }
</style>
<body>
<!--右侧固定导航-->
<ul class="fixedmeau">
    <li class="active"><i>1F</i><span>男孩</span></li>
    <li><i>2F</i><span>女孩</span></li>
    <li><i>3F</i><span>周边</span></li>
</ul>
<!--返回顶部-->
<div class="totop"><span>▲</span>Top</div>
<!--头部-->
<div class="header">
    <div class="headertop_desc">
        <div class="wrap">
            <div class="nav_list">
                <ul>
                    <li><a href="/">首页</a></li>
                    <li><a href="javascript:void(0)">影片</a></li>
                    <li><a href="/toindex_cinema">影城</a></li>
                </ul>
            </div>
            <div class="account_desc">
                <ul>
                    <li>
                        <span th:if="${session.users==null}">
                            <a th:href="@{/login}">登录</a>
                        </span>
                        <span th:if="${session.users!=null}">
                            <a href="/touserOderSelect" class="name" th:text="${session.users.uname}"></a>
                            <a href="/zhuxiao">注销</a>
                        </span>
                    </li>
                    <li><a href="javascript:void(0)">交付记录</a></li>
                    <li><a href="#">我的账户</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="wrap">
        <div class="header_top">
            <div class="logo">
                <a href="index.html"><img src="/asserts/images/logo.png" alt=""/></a>
            </div>
            <div class="header_top_right">
                <span class="car"><i class="shopping-cart"></i></span>
                <div class="search_box">
                    <form>
                        <input type="text" value="搜索" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = '搜索';}"><input type="submit" value="">
                    </form>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!--模块-->
<div class="louceng_box">
    <div class="louceng">
        <div class="title">1.男孩玩具 <span>Boy toy</span></div>
        <div class="wrapper">
            <div class="clear"></div>
            <!-- items -->
            <div class="items">
                <!-- single item -->
<!--                <div class="item" th:each="item : ${commodityTables}">-->
<!--                    <th:block th:if="${item.getCommodityType()==1}">-->
<!--                        <img th:src="${item.getCommodityPicture()}" alt="item" />-->
<!--                        <h2 th:text="${item.getCommodityName()}">droid-x</h2>-->

<!--                        <p>价格: <em th:text="${item.getCommodity价格()}">$255</em>-->
<!--                        </p>-->
<!--                        <button class="add-to-cart" type="button">添加购物车</button>-->
<!--                    </th:block>-->
<!--                </div>-->
                <div class="item">
                    <img src="/asserts/images/汪汪队立大功终极警车声光阿奇.jpg" alt="item" />
                    <h2>汪汪队立大功终极警车</h2>
                    <p>价格: <em>259.0</em>
                    </p>
                    <input type="hidden" value="1">
                    <button class="add-to-cart" type="button">添加购物车</button>
                </div>
                <div class="item">
                    <img src="/asserts/images/汪汪队玩具救援小赛车小砾.jpg" alt="item" />
                    <h2>汪汪队玩具救援小赛车小砾</h2>
                    <p>价格: <em>49.5</em>
                    </p>
                    <input type="hidden" value="2">
                    <button class="add-to-cart" type="button">添加购物车</button>
                </div>
                <div class="item">
                    <img src="/asserts/images/哆啦A梦12星座盲盒.jpg" alt="item" />
                    <h2>哆啦A梦12星座盲盒</h2>
                    <p>价格: <em>49.0</em>
                    </p>
                    <input type="hidden" value="3">
                    <button class="add-to-cart" type="button">添加购物车</button>
                </div>
            </div>
            <!--/ items -->
        </div>
    </div>
    <div class="louceng">
        <div class="title">2.女孩玩具 <span>Girl toy</span></div>
        <div class="wrapper">
            <div class="clear"></div>
            <!-- items -->
            <div class="items">
<!--                <div class="item" th:each="item : ${commodityTables}">-->
<!--                    <th:block th:if="${item.getCommodityType()==2}">-->
<!--                        <img th:src="${item.getCommodityPicture()}" alt="item" />-->
<!--                        <h2 th:text="${item.getCommodityName()}">droid-x</h2>-->

<!--                        <p>价格: <em th:text="${item.getCommodity价格()}">$255</em>-->
<!--                        </p>-->
<!--                        <button class="add-to-cart" type="button">添加购物车</button>-->
<!--                    </th:block>-->
<!--                </div>-->
                <div class="item">
                    <img src="/asserts/images/儿童小钢琴电子琴.jpg" alt="item" />
                    <h2>儿童小钢琴电子琴</h2>
                    <p>价格: <em>299.0</em>
                    </p>
                    <input type="hidden" value="4">
                    <button class="add-to-cart" type="button">添加购物车</button>
                </div>
                <div class="item">
                    <img src="/asserts/images/厨房玩具套装.jpg" alt="item" />
                    <h2>厨房玩具套装</h2>
                    <p>价格: <em>55.0</em>
                    </p>
                    <input type="hidden" value="5">
                    <button class="add-to-cart" type="button">添加购物车</button>
                </div>
                <div class="item">
                    <img src="/asserts/images/芭比娃娃仿真精致儿童玩具.jpg" alt="item" />
                    <h2>芭比娃娃仿真精致儿童玩具</h2>
                    <p>价格: <em>119.0</em>
                    </p>
                    <input type="hidden" value="6">
                    <button class="add-to-cart" type="button">添加购物车</button>
                </div>
            </div>
            <!--/ items -->
        </div>
    </div>
    <div class="louceng">
        <div class="title">3.周边手办 <span>Peripheral figure</span></div>
        <div class="wrapper">
            <div class="clear"></div>
            <!-- items -->
            <div class="items">
                <!-- single item -->
                <div class="item">
                    <img src="/asserts/images/姜子牙电影艺术图集画册.jpg" alt="item" />
                    <h2>姜子牙电影艺术图集画册</h2>
                    <p>价格: <em>78.9</em>
                    </p>
                    <input type="hidden" value="7">
                    <button class="add-to-cart" type="button">添加购物车</button>
                </div>
                <!--/ single item -->
                <!-- single item -->
                <div class="item">
                    <img src="/asserts/images/罗小黑战记大电影野生粮亚克力挂件.jpg" alt="item" />
                    <h2>罗小黑战记粮亚克力挂件</h2>
                    <p>价格: <em>32.0</em>
                    </p>
                    <input type="hidden" value="8">
                    <button class="add-to-cart" type="button">添加购物车</button>
                </div>
                <!--/ single item -->
                <!-- single item -->
                <div class="item">
                    <img src="/asserts/images/新海诚电影天气天野阳菜之子学生文具.jpg" alt="item" />
                    <h2>新海诚天野阳菜之子文具</h2>
                    <p>价格: <em>19.9</em>
                    </p>
                    <input type="hidden" value="9">
                    <button class="add-to-cart" type="button">添加购物车</button>
                </div>
                <!--/ single item -->
            </div>
            <!--/ items -->
        </div>
    </div>
</div>
<div th:replace="footer :: footer"></div>
<script type="text/javascript" src="/asserts/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src='/asserts/js/jquery-ui.min.js'></script>
<script type="text/javascript">
    $('.add-to-cart').on('click', function () {
        var cart = $('.shopping-cart');
        var imgtodrag = $(this).parent('.item').find('img').eq(0);
        if (imgtodrag) {
            var imgclone = imgtodrag.clone().offset({
                top: imgtodrag.offset().top,
                left: imgtodrag.offset().left
            }).css({
                'opacity': '0.5',
                'position': 'absolute',
                'height': '150px',
                'width': '150px',
                'z-index': '100'
            }).appendTo($('body')).animate({
                'top': cart.offset().top + 10,
                'left': cart.offset().left + 10,
                'width': 75,
                'height': 75
            }, 1000, 'easeInOutExpo');
            setTimeout(function () {
                cart.effect('shake', { times: 2 }, 200);
            }, 1500);
            imgclone.animate({
                'width': 0,
                'height': 0
            }, function () {
                $(this).detach();
            });
        }
    });
</script>
<script type="text/javascript">
    /*
     totop  //返回顶部按钮
     fixedevery   // 左侧固定导航的每一项
     louceng  //模块的每一项
     header   //头部
     */
    $(function(){
        var obj = new floor('.totop','.fixedmeau>li','.louceng_box>.louceng','.header_box');
        obj.init()
    })

    $(".add-to-cart").click(function () {
        var id=$(this).prev().val();
        var json={
            id:id
        }
        /*添加购物车*/
        $.post("",json,function (result) {

        })
    })

    $(".shopping-cart").click(function () {

      $.post("/","",function (result) {

      })
    })

</script>

</body>
</html>

