<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.movie.dao.CommodityMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.movie.pojo.Commodity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="market_value" property="marketValue" jdbcType="VARCHAR" />
    <result column="membership_price" property="membershipPrice" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="sale" property="sale" jdbcType="INTEGER" />
    <result column="safeDate" property="safedate" jdbcType="VARCHAR" />
    <result column="produceDate" property="producedate" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, market_value, membership_price, num, type, picture, sale, safeDate, produceDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.movie.pojo.CommodityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from commodity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from commodity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.movie.pojo.CommodityExample" >
    delete from commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.movie.pojo.Commodity" >
    insert into commodity (id, name, market_value, 
      membership_price, num, type, 
      picture, sale, safeDate, 
      produceDate)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{marketValue,jdbcType=VARCHAR}, 
      #{membershipPrice,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{picture,jdbcType=VARCHAR}, #{sale,jdbcType=INTEGER}, #{safedate,jdbcType=VARCHAR}, 
      #{producedate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.movie.pojo.Commodity" >
    insert into commodity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="marketValue != null" >
        market_value,
      </if>
      <if test="membershipPrice != null" >
        membership_price,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="sale != null" >
        sale,
      </if>
      <if test="safedate != null" >
        safeDate,
      </if>
      <if test="producedate != null" >
        produceDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="marketValue != null" >
        #{marketValue,jdbcType=VARCHAR},
      </if>
      <if test="membershipPrice != null" >
        #{membershipPrice,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="sale != null" >
        #{sale,jdbcType=INTEGER},
      </if>
      <if test="safedate != null" >
        #{safedate,jdbcType=VARCHAR},
      </if>
      <if test="producedate != null" >
        #{producedate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.movie.pojo.CommodityExample" resultType="java.lang.Integer" >
    select count(*) from commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update commodity
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.marketValue != null" >
        market_value = #{record.marketValue,jdbcType=VARCHAR},
      </if>
      <if test="record.membershipPrice != null" >
        membership_price = #{record.membershipPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.picture != null" >
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.sale != null" >
        sale = #{record.sale,jdbcType=INTEGER},
      </if>
      <if test="record.safedate != null" >
        safeDate = #{record.safedate,jdbcType=VARCHAR},
      </if>
      <if test="record.producedate != null" >
        produceDate = #{record.producedate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update commodity
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      market_value = #{record.marketValue,jdbcType=VARCHAR},
      membership_price = #{record.membershipPrice,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      picture = #{record.picture,jdbcType=VARCHAR},
      sale = #{record.sale,jdbcType=INTEGER},
      safeDate = #{record.safedate,jdbcType=VARCHAR},
      produceDate = #{record.producedate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.movie.pojo.Commodity" >
    update commodity
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="marketValue != null" >
        market_value = #{marketValue,jdbcType=VARCHAR},
      </if>
      <if test="membershipPrice != null" >
        membership_price = #{membershipPrice,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="sale != null" >
        sale = #{sale,jdbcType=INTEGER},
      </if>
      <if test="safedate != null" >
        safeDate = #{safedate,jdbcType=VARCHAR},
      </if>
      <if test="producedate != null" >
        produceDate = #{producedate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.movie.pojo.Commodity" >
    update commodity
    set name = #{name,jdbcType=VARCHAR},
      market_value = #{marketValue,jdbcType=VARCHAR},
      membership_price = #{membershipPrice,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      picture = #{picture,jdbcType=VARCHAR},
      sale = #{sale,jdbcType=INTEGER},
      safeDate = #{safedate,jdbcType=VARCHAR},
      produceDate = #{producedate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>